.game {
  display: flex;
  flex-direction: row;
}

.card {
  background-color: floralwhite;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.emoji {
  font-size: 3rem;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}